@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Futura";   /*Can be any text*/
  src: local("Futura"),
  url("../../assets/fonts/FUTURA55REGULAR.TTF") format("truetype");
}

@layer base {
    html {
        color-scheme: light !important;
    }
}

:root {
    color-scheme: only light;
}

.p-dropdown-trigger svg path {
  fill: #fff;
}

p {
  font-size: 2rem;
}

@media screen and (min-width: 1921px) {
    p {
        font-size: 1.75rem;
    }
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
    p {
        font-size: 1.75rem;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    p {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    p {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    p {
        font-size: 1rem;
    }
}